*{
  padding: 0;
  margin: 0;
}

#container{
  border: 1px solid black/30;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: center;
  align-items: center;
}
#content-container{
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}
#inner-container{
  min-width: 400px;
  background-color: aliceblue;
  padding: 10px;
  border-radius: 10px;
}
.label{
  font-size: 20px;
  font-weight: 800;
}